body {
  padding: 0;
  margin: 0;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 1vw;
  font-family: "neon", sans-serif;
  font-size: 20vw;
  color: #ffffff;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
}

.txtDroit {
  color: white;
  font-family: cormorand, sans-serif;
  font-size: 5.5vw;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
}

.txtDroitGras {
  font-family: cormorand, sans-serif;
  font-style: italic;
  font-weight: 1000;  /* ou 'bold' */
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
  font-size: 9vw;
  color: #ffffff;
}

.txtItalic {
    color: white;
    font-family: Amsterdam, sans-serif;
    font-size: 6.5vw;
    text-shadow: 0 0 7px #0fa,
    0 0 55px #0fa;


}

.txtItalicGros {
  font-family: Amsterdam, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 10vw;
  color: #ffffff;
  text-shadow: 0 0 7px #00fda9,
  0 0 55px #0fa;
;
}

.partie {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
  background-position: center; /* Centre l'image */
  font-size: 4.5vw;
  color: white;
  box-shadow: 0 0 2px #00ffaa;
  /* text-shadow : les effets de texte sont désactivés pour l'instant */
}
#partie1 {
  padding-top: 10vw;
  padding-bottom: 25vw;
  background-image: url("/img/cielEtoile.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */

}
#partie2{
  background-image:  url("/img/cielEtoile.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */

  height: 80vw;


}

#photoAdam{

  background-image: url("/img/teteAdam.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */
}

#photoAdam img{
  width: 100vw;

}

#tephiline{
  padding-top: 30vw;
  padding-bottom: 25vw;
  background-image: url("/img/cielEtoile.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */

}

#gpName {
  font-size: 5.1vw;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8vw;
  margin-bottom: 1rem;
  color: #ffffff;
}

#gpLeft {
  text-align: left;
  font-family: cormorand, sans-serif;

}

#gpRight {
  text-align: right;
  font-family: cormorand, sans-serif;

}



.pulsate {
  animation: pulsate 1.5s infinite alternate;
}


#decompte{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-bottom: 3rem;
}
.elementDecompte{
  margin-right: 6vw;
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.elementDecompte2{
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


}
.texteDecompte{
  font-family: DMSerif, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 0 0 7px #00fda9;

}
.chiffreDecompte {
  color: #ffffff;
  font-family: DMSerif, sans-serif;
  font-size: 16vw;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: 0 0 7px #00fda9;
}


@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #d014be,
      0 0 80px #d014be,
      0 0 90px #d014be,
      0 0 100px #d014be,
      0 0 150px #d014be;
  }

  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}


.btnLink {
  font-size: 1rem;
  font-family: 'DMSerif', sans-serif;
  padding: 0.8rem;
  color: #ffffff;
  border-radius: 0.2rem;
  margin: 2.2rem;
  border: 2px solid #00ffaa; /* Ajoute une bordure blanche de 2 pixels */
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, transform 0.5s ease;
  text-shadow:    0 0 55px #00ffaa;
  box-shadow:    0 0 55px #00ffaa;


}

.btnLink:hover {

  transform: scale(1.05); /* Légère mise à l'échelle pour un effet de grossissement */
}
