body {
  padding: 0;
  margin: 0;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-family: "neon", sans-serif;
  font-size: 19vw;
  color: #ffffff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #d014be,
    0 0 82px #d014be,
    0 0 92px #d014be,
    0 0 102px #d014be,
    0 0 151px #d014be;
}

.txtDroit {
  color: white;
  font-family: cormorand, sans-serif;
  font-size: 6.5vw;
  text-shadow: 0 0 7px #0fa;
}

.txtDroitGras {
  font-family: cormorand, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 9vw;
  color: #ffffff;
}

.txtItalic {
  font-family: Amsterdam, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 8vw;
  color: #ffffff;
  text-shadow: 0 0 7px #d014be;
}

.partie {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/img/neonRose.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
  background-position: center; /* Centre l'image */
  font-family: cormorand, sans-serif;
  font-size: 4.5vw;
  color: white;
  /* text-shadow : les effets de texte sont désactivés pour l'instant */
}

#gpName {
  font-size: 4.9vw;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8vw;
  margin-bottom: 1rem;
  color: #ffffff;
  text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}

#gpLeft {
  text-align: left;
}

#gpRight {
  text-align: right;
}

#partie1 {
  padding-top: 25vw;
  padding-bottom: 25vw;
}

.pulsate {
  animation: pulsate 1.5s infinite alternate;
}


#decompte{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-bottom: 3rem;
}
.elementDecompte{
  margin-right: 1rem;
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.elementDecompte2{
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


}
.texteDecompte{
  font-family: DMSerif, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.chiffreDecompte{
  color: #ffffff;
  font-family: DMSerif,sans-serif;
  font-size: 16vw;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #8a8dfe,
      0 0 80px #8a8dfe,
      0 0 90px #8a8dfe,
      0 0 100px #8a8dfe,
      0 0 150px #8a8dfe;
  }

  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}
