body {
  padding: 0;
  margin: 0;
}


h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 1vw;
  margin-bottom: 4vw;
  font-family: "neon", sans-serif;
  font-size: 20vw;
  color: #ffffff;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
}

.txtDroit {
  color: white;
  font-family: cormorand, sans-serif;
  font-size: 6vw;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
}

.txtDroitGras {
  font-family: cormorand, sans-serif;
  font-style: italic;
  font-weight: 1000;  /* ou 'bold' */
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
  font-size: 7.5vw;
  color: #ffffff;
}

.txtItalic {
    color: white;
    font-family: "Great Vibes", sans-serif;
    font-size: 9vw;
    text-shadow: 0 0 7px #0fa,
    0 0 55px #0fa;


}
.txtItalicPetit {
  color: white;
  font-family: "Great Vibes", sans-serif;
  font-size: 8.3vw;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;


}

.txtItalicGros {
  font-family: "Great Vibes", sans-serif;
  font-style: italic;
  font-size: 10.5vw;
  color: #ffffff;
  text-shadow: 0 0 7px #00fda9,
  0 0 55px #0fa;
;
}

.partie {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background-image: url("/img/cielEtoilePaterne.jpg");*/
  /*background-repeat: repeat; !* Empêche l'image de se répéter *!*/
  background-position: center; /* Centre l'image */
  font-size: 4.5vw;
  color: white;
  /*box-shadow: 0 0 2px #00ffaa;*/
  /* text-shadow : les effets de texte sont désactivés pour l'instant */
}
#partie1 {
  padding-top: 10vw;
  padding-bottom: 25vw;
  /*background-image: url("/img/cielEtoile.jpg");*/
  background-size: cover; /* L'image couvre toute la surface de la zone */

}
#partie2{
  /*background-image:  url("/img/cielEtoile.jpg");*/
  background-size: cover; /* L'image couvre toute la surface de la zone */

  height: 80vw;


}

#photoAdam{

  background-image: url("/img/teteAdam.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */
}

#photoAdam img{
  width: 100vw;

}

#tephiline{
  /* background-image: url("/img/cielEtoile.jpg");
  background-size: cover; /* L'image couvre toute la surface de la zone */

}

#gpName {
  font-size: 5.1vw;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 12vw;
  margin-bottom: 1rem;
  color: #ffffff;
}

#gpLeft {
  text-align: left;
  font-family: cormorand, sans-serif;

}

#gpRight {
  text-align: right;
  font-family: cormorand, sans-serif;

}



.pulsate {
  animation: pulsate 1.5s infinite alternate;
}


#decompte{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-bottom: 2rem;
}
.elementDecompte{
  margin-right: 6vw;
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.elementDecompte2{
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


}

#principale{
  background-image: url("/img/cielEtoilePaterne.jpg");
  }

.texteDecompte{
  font-family: DMSerif, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 0 0 7px #00fda9;

}
.chiffreDecompte {
  color: #ffffff;
  font-family: DMSerif, sans-serif;
  font-size: 16vw;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: 0 0 7px #00fda9;
}


@keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #d014be,
      0 0 80px #d014be,
      0 0 90px #d014be,
      0 0 100px #d014be,
      0 0 150px #d014be;
  }

  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}


.btnLink {
  font-size: 1rem;
  font-family: 'DMSerif', sans-serif;
  padding: 0.8rem;
  color: #ffffff;
  border-radius: 0.2rem;
  margin: 2.2rem;
  border: 2px solid #00ffaa; /* Ajoute une bordure blanche de 2 pixels */
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, transform 0.5s ease;
  text-shadow:    0 0 55px #00ffaa;
  box-shadow:    0 0 55px #00ffaa;


}

.btnLink:hover {

  transform: scale(1.05); /* Légère mise à l'échelle pour un effet de grossissement */
}
/* No-scroll class */
.no-scroll {
  overflow: hidden;
}

/* Styles for the overlay */
#overlay {
  background-image: url("/img/Adam5.jpg");
  background-size: 100% 100%; /* L'image s'étire pour remplir tout l'écran */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Empêcher la répétition de l'image */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffaf4; /* Couleur de fond pour les zones vides */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  transition: opacity 2s;
  z-index: 2000;
  padding-bottom: 10vw; /* Ajuster selon vos besoins */
}



#divOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlaythird {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 80%;



}

form label {
  color: white;
  font-family: cormorand, sans-serif;
  font-size: 5.5vw;
  text-shadow: 0 0 7px #0fa,
  0 0 55px #0fa;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

form input[type="text"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;


}

form input[type="checkbox"] {
  margin-right: 0.5rem;
}

form input[type="submit"] {
  font-size: 1rem;
  font-family: DMSerif, sans-serif;
  padding: 0.8rem ;
  color: #000000;
  border-radius: 0.2rem;
  margin: 2.2rem;
  border: 2px solid #c0c0c0; /* Ajoute une bordure blanche de 2 pixels */
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);


}

form input[type="submit"]:hover {
  background-color: #000000;
  font-size: 1rem;
  font-family: DMSerif, sans-serif;
  padding: 0.8rem ;
  color: #00ffff;
  border-radius: 0.2rem;
  margin: 2.2rem;
  border: 3px solid #00fda9; /* Ajoute une bordure blanche de 2 pixels */
  transition: background-position 1s ease-in-out, color 0.3s, border-color 0.3s; /* Transition douce pour les changements de couleur et l'animation */
  background-position: left bottom;


}

form textarea {
  resize: vertical;
}

.hidden{
  display: none;
}

label{
  text-align: center;
}

footer{
  font-family: Membra, sans-serif;
  text-decoration: none;

}

footer {

  text-align: center;
background-image: url("/img/cielEtoile.jpg");

  padding: 20px; /* Espacement intérieur pour un meilleur aspect */
}
span {
  color: #ffffff; /* Couleur du texte */
  font-size: 1.5rem; /* Taille du texte */
  display: block; /* Pour que le texte apparaisse sur une ligne séparée */
  margin-bottom: 10px; /* Espacement entre le texte et l'icône Instagram */
  font-family: Membra;
}

.haesh{
  width: 40%;
  filter: drop-shadow(0 0 7px #00fda9); /* Décalage x, y, flou, couleur */


  text-shadow: 0 0 7px #00fda9,
  0 0 55px #0fa;

}



